node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore local environment files

.env
.env.local
.DS_Store

# Ignore build and cache files

dist
build
.cache
coverage

# Ignore logs

logs
*.log
logs/*.log

# Ignore Docker-related files

.dockerignore
Dockerfile
docker-compose.yml

#customs_files..
.notes
.ERRORCODES
.prod.env